/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f7f6;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
}

h1, h2 {
    color: #444;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* Формы */
.forms {
    display: flex;
}
form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

form h2 {
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form input[type="text"], form select {
    margin-bottom: 20px;
}

form button {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

form button:hover {
    background-color: #45a049;
}

#manualForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Кнопка остановки автосбора */
#stopAuto {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    transition: background-color 0.3s ease;
}

#stopAuto:hover {
    background-color: #ff3333;
}

/* Время до следующего скриншота */
#nextTime {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    color: #555;
}

p {
    text-align: center;
    margin-top: 20px;
}

/* Адаптивность */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    form {
        padding: 15px;
    }

    form h2 {
        font-size: 20px;
    }

    form button {
        font-size: 14px;
    }
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
#nextTime {
    font-size: 20px;
    color: #333;
}
#notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
}